@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Kavivanar&display=swap');
:root {
  --main-font: "Kavivanar", sans-serif;
  --color-1: rgba(68, 46, 30, 0.5);
  --color-2: #f4bf8a; 
  --color-3: #765032;
  --color-4: #CA8D51;
  --color-5: #301d0e;
}

/* BACKGROUND */

body {
  background: url(https://static.lioden.com/images/dynamic/backgrounds/sandstorm2.png) center center fixed;
  background-size: 100%;
  font: var(--main-font);
  color: var(--color-1);
  font-size: large;
}

/* MAIN PANEL */

/* RIGHT SIDE */
.container.main {
  background: var(--color-1);
  border: double var(--color-5);
  box-shadow: none;
  border-radius: 5px;
}
.main {
  background: #FCF8E3;
  margin-top: 40px;
  border: 3px solid #867F63;
  border-radius: 5px;
}

/* LEFT SIDE */
.col-md-9 {
  background: none;
  border-right: none;
}

/* TOPBAR ("Welcome back, ___") */

.topbar {
  background: var(--color-5);
  border: double var(--color-1);
  color: var(--color-3);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
}

/* NAVBAR (Den/Crossroads/Etc.) */

.navbar {
  background: rgba(1, 1, 1, 0.5);
  border-bottom: none;
  color: #000000;
  border-radius: 5px;
}

/* NAVBAR BUTTON TEXT COLOR */

.navbar li a {
  color: var(--color-4) !important;
}

.select-control, a.button, button.button, input[type="button"], input[type="submit"], input[type="reset"]
{
  color: var(--color-2) !important;
}

/* NAVBAR BUTTON HOVER */

.navbar li a:hover {
  background: rgba(6, 59, 53, 0.5) !important;
  border-bottom: none;
  color: #709e8e;
  border-radius: 5px;
}

/* BREADCRUMB (Home / Den) */

.breadcrumb {
  background: var(--color-5) !important;
  border: none;
  border-radius: 10px;
}

/* BREADCRUMB TEXT */

.breadcrumb .active {
  color: var(--color-2);
}

/* CSS CREDIT */

.breadcrumb::after {
  content: "Template by Katie (#106445)";
  color: var(--color-2);
  position: absolute;
  right: 13%; /* (This may need adjusting) */
  z-index: 100;
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .breadcrumb::after {
    right: 20%;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .breadcrumb::after {
    right: 20%;
  }
}

@media only screen and (max-width: 767px) {
  .breadcrumb::after {
    right: 22%;
  }
}

/* BOOKMARK BUTTON */

input.floatright,
input.floatright:hover {
  background: var(--color-1) !important;
  border: none !important;
  border-radius: 10px;
  color: var(--color-4) !important;
}

/* SWITCH ACCOUNT BUTTON */

button.button,
button.button:hover {
  background: rgba(1, 1, 1, 0.5);
  border: none !important;
  border-radius: 1px;
  text-shadow: none !important;
  color: #000000 !important;
}

/* ALERTS (ie. "Your lionesses have returned from hunting!") */

.alert,
.alert-warning,
.alert-danger {
  background: rgb(48 29 14 / 80%) !important;
  border: solid 1px var(--color-2);
  color: var(--color-4);
  border-radius: 19px !important;
}



/*COMMENT BOX*/
.comment .commentText {
  flex-grow: 4;
  color: var(--color-2);
}

#commentBox {
  border: 2px solid var(--color-5);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
  height: 300px;
  overflow: auto;
}

.text-muted {
  color: var(--color-5);
}

.commentTag {
  width: 50px;
  height: 50px;
  border: solid 1px var(--color-1);
  border-radius: 5px;
}

input, select, textarea {
  background: rgba(1, 1, 1, 0.5) !important;
  border: none !important;
  border-radius: 1px !important;
  color: var(--color-4) !important;
  box-shadow: none !important;
  text-shadow: none !important;
}

input #comment {
  color: var(--color-2);
}

input{
  border: 1px solid var(--color-5);
}
/* BIGGEST HEADER ("___"'s DEN) */

h1 {
  color: var(--color-2);
  font-size: 90px;
  text-align: center;
  font-family: var(--main-font) cursive;
}

/* MEDIUM HEADER */

h2 {
  color: var(--color-2);
  font-size: 24px;
  text-align: center;
}

/* SMALL HEADER */

h3 {
  color: var(--color-2);
  font-size: 14px !important;
}

.b{
  color: var(--color-3);
}

/* RIGHT SIDE PANEL HEADER */

.sidebar h3 {
  color: var(--color-2); !important;
  font-size: 26px !important;
  font-family: "Amatic SC", sans-serif;
}

/* RIGHT SIDE PANELS */
.panel {
  background: rgba(1, 1, 1, 0.5) !important;
  box-shadow: none !important;
  border: none !important;
  color: #000000 !important;
  border-radius: 1px;
}

/* ENERGY BAR BACKGROUND */
.progress {
  background: rgba(1, 1, 1, 0.5);
  color: #000000 !important;
  border-radius: 1px !important;
}

/* ENERGY BAR COLOR */
.progress-bar {
  background: rgba(1, 1, 1, 0.5);
  color: #000000 !important;
  border-radius: 1px !important;
}

/* ENERGY BAR TEXT */
.progress div {
  color: #000000 !important;
}

/* CHAT */

.s-chat-message:nth-child(even) /* Even Numbered Messages */ {
  background: rgba(1, 1, 1, 0.5) !important;
  color: #b786d6 !important;
  border: none !important;
}

.s-chat-message:nth-child(odd) /* Odd Numbered Messages */ {
  background: rgba(1, 1, 1, 0.5) !important;
  color: #b786d6 !important;
  border: none !important;
}

.s-chat-message__pinned /* Pinned Message */ {
  background: rgba(1, 1, 1, 0.5) !important;
  color: #000000 !important;
  border: none !important;
}

.s-chat-message_timestamp /* Timestamps */ {
  color: #b786d6 !important;
}

div#chatMessageContainer {
  border: none !important;
}

button#label_currentChannel /* Channel Button ie. Main, Sales */ {
  background: rgba(1, 1, 1, 0.5) !important;
  color: #000000 !important;
  border: none !important;
}

/* LION INFO TABLE (Level, Stats, Territory Count, Etc.) */

/* PANEL BACKGROUND COLOR */

.table {
  background: none;
  border: 2px solid var(--color-5);
  border-collapse: separate;
  border-radius: 10px;
}

.table textarea {
  color: var(--color-4) !important;
}

.table select
{
  color: var(--color-4) !important;
}

.table input {
  color: var(--color-4) !important;
}

.table .top, .table th {
  background-color: #1a9fa6;
  color: var(--color-4) !important;
  padding: 8px 15px;
  font-size: 18px;
  font-weight: bold;
}

/* HEADERS COLOR (King Name + Title, "There are _ lions with mutations in _'s pride.") */

.top,
.bottom,
th {
  background: rgba(1, 1, 1, 0.5) !important;
  color: #000000 !important;
  border-radius: 1px;
}

td.bottom a {
  text-decoration: none !important;
}

/* Color behind "Level, Stats, Branch, Territory" etc. */

.inner-table .left {
  background: rgb(68 46 30 / 50%) !important;
  color: var(--color-2);
  border-radius: 5px !important;
}

/* Color behind the number of all of the things above */

.inner-table .right {
  border-radius: 1px !important;
  color: var(--color-5);
  background: none;
}

.inner-table {
  border-spacing: 0px 3px;
  border-collapse: separate;
  background-image: url(https://static.lioden.com/images/dynamic/backgrounds/sunsetdesertie.png);
}

.inner-table a {
  color: var(--color-5) !important;
}

td.right {
  border-radius: 1px !important;
}

/* IGNORE */
.right_odd {
  background: none !important;
}

.member-online {
  background: #8db644;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  display: inline-block;
}

.member-offline {
  background: #c5503d;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  display: inline-block;
}

/* Affects the color behind "_ Unsorted", "_ Pregnant Lionesses", "View Pride Overview", and cave/mound names */

.cave-grid,
.mound-grid {
  background: rgba(1, 1, 1, 0.5);
  border: none !important;
  border-radius: 1px !important;
}

/* FEED ALL, PLAY ALL */

.feature {
  background: rgba(1, 1, 1, 0.5) !important;
  color: #000000 !important;
  border: 1px solid #000000 !important;
  border-radius: 1px !important;
}

/* "King Dynasty, Pride Dynasty, Achievements, Showcase" Panels */

.feature,
div.left {
  background: rgba(1, 1, 1, 0.5);
  border: none;
  border-radius: 1px !important;
}

/* Block of color behind "Territory Description, Player Name, Avatar URL" etc. */

.table .left {
  background: rgba(1, 1, 1, 0.5);
  border-radius: 1px;
}

/* Color behind the content of the elements listed above */

input,
select,
textarea {
  background: rgba(1, 1, 1, 0.5) !important;
  border: none !important;
  border-radius: 1px !important;
  color: #000000 !important;
  box-shadow: none !important;
  text-shadow: none !important;
}

/* ACCOUNT OPTIONS PANELS  (Friend Requests Toggles, etc.) */

.item-header {
  background: rgba(1, 1, 1, 0.5) !important;
  color: #000000 !important;
  border-radius: 1px !important;
}

.item {
  background: rgba(1, 1, 1, 0.5) !important;
  border: none !important;
  border-radius: 1px !important;
}

/* ACCOUNT OPTIONS ON/OFF TOGGLE SWITCH */

div.slider.round /* Background */ {
  background: #000000 !important;
}

div.slider.round::before /* Circle Part */ {
  background: #000000 !important;
}

/* Copyright, Terms of Service, CoC, etc. */

div.container.footer.center.white.visible-lg.visible-md.visible-sm,
div.container.footer.center.white.visible-lg.visible-md.visible-sm a {
  color: #000000 !important;
  text-shadow: none !important;
}

/* LINK COLOR */

a:link, a:visited {
  color: var(--color-3) !important;
}

.xlarge a:link, a:visited {
  color: var(--color-2) !important;
}

/* LINK HOVER COLOR */

a:hover {
  color: #ffffff !important;
}

/* BOX CONTAINER */

.boxcontainer {
  background: none;
  height: auto;
  padding: 1px;
  justify-content: center;
  display: flex;
}

/* BOXES */

.smallbox {
  float: left;
  background: rgba(1, 1, 1, 0.5);
  color: #000000;
  padding: 10px;
  border: none;
  border-radius: 1px;
  margin: 10px;
  height: 150px;
  width: 28.4%;
  overflow: auto;
}

.mediumbox {
  float: left;
  background: rgba(1, 1, 1, 0.5);
  color: #000000;
  padding: 10px;
  border: none;
  border-radius: 1px;
  margin: 10px;
  height: 150px;
  width: 43.8%;
  overflow: auto;
}

.largebox {
  float: left;
  background: rgba(1, 1, 1, 0.5);
  color: #000000;
  padding: 10px;
  border: none;
  border-radius: 1px;
  margin: 10px;
  height: 150px;
  width: 90%;
  overflow: auto;
}

/* HOVER BOXES */

.smallhoverbox {
  float: left;
  background: rgba(1, 1, 1, 0.5);
  color: #000000;
  padding: 10px;
  border: none;
  border-radius: 1px;
  margin: 10px;
  height: 50px;
  width: 28.4%;
  overflow: auto;
  transition: 3s;
}

.smallhoverbox:hover {
  height: 150px;
  width: 28.4%;
}

.mediumhoverbox {
  float: left;
  background: rgba(1, 1, 1, 0.5);
  color: #000000;
  padding: 10px;
  border: none;
  border-radius:1px;
  margin: 10px;
  height: 50px;
  width: 43.8%;
  overflow: auto;
  transition: 3s;
}

.mediumhoverbox:hover {
  height: 150px;
  width: 43.8%;
}

.largehoverbox {
  float: left;
  background: rgba(1, 1, 1, 0.5);
  color: #000000;
  padding: 10px;
  border: none;
  border-radius: 1px;
  margin: 10px;
  height: 150px;
  width: 90%;
  overflow: auto;
  transition: 3s;
}

.largehoverbox:hover {
  height: 150px;
  width: 90%;
}

/* SCROLL BAR */

/* WIDTH */

::-webkit-scrollbar {
  width: 10px;
}

/* BACKGROUND */

::-webkit-scrollbar-track {
  background: var(--color-5) !important;
}

/* "THUMB" */

::-webkit-scrollbar-thumb {
  background: var(--color-3) !important;
  border-radius: 5px;
}

/* LION AND USER AVATAR OPACITY */

div#lion_image {
  opacity: 1;
}

table#player img {
  opacity: 1;
}

/* LION AND USER AVATAR */

div#lion_image {
  border-radius: 10px !important;
  border: double 5px var(--color-4);
  overflow: hidden;
  margin-top: 15px;
  margin-left: 15px;
}

table#player img {
  border-radius: 10px !important;
  overflow: hidden;
}

/* LIODEN LOGO REPLACER */

div.container.main > div:nth-child(1) > nav > div.navbar-header > a > img {
  content: url("https://static.lioden.com/images/items/Other/coffeebeans.png");
  width: 120px;
  height: auto;
}

/* CAVE / MOUND IMAGES */

.cave-grid, .mound-grid
{
  background: var(--color-3);
  border: none !important;
  border-radius: 10px !important;
}

/* Pregnant Lionesses */
a[href$="nesting.php"]> div.cave-grid>img {
  content: url("https://static.lioden.com/images/dynamic/backgrounds/zaxheavenlyskies.png") !important;
}

a[href$="cave.php"] > div.cave-grid > img {
  content: url("https://static.lioden.com/images/dynamic/backgrounds/moroccandunes.png") !important;
}

a[href$="lionoverview.php"]>div.cave-grid>img /* Pride Overview */ {
  content: url("https://static.lioden.com/images/dynamic/backgrounds/zaxveld.png") !important;
}

a[href$="unsorted.php"]>div.cave-grid>img /* Unsorted */ {
  content: url("https://static.lioden.com/images/dynamic/backgrounds/Tassili_nAjjer.png") !important;
}

.mound-grid img /* Mound(s) */ {
  background: url("https://static.lioden.com/images/dynamic/backgrounds/nightembers.png");
  width: 0;
  height: 0;
  padding-top: 80px;
  padding-right: 130px;
}

/* MAKES BOXES/DESCRIPTION SHOW ON MOBILE */

@media only screen and (max-width: 767px) {
  .container.main .hidden-xs {
    display: block !important;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  displa: block !important;
}

@media only screen and (min-width: 1200px) {
  div.quote {
    width: 790px;
  }
}
