:root {
  --color-1: #e2bcad;
  --color-2: #5c7a9e;
  --color-3: #7caecd;
  --color-4: #b9c2d8;
  --color-5: #306289;
  --color-6: rgba(48, 98, 137, 0.4);
  --color-7: rgb(226, 188, 173, 0.4);
}

.topbar {
  background: var(--color-5);
  color: var(--color-1);
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 10px;
  font-weight: 900;
}

.topbar a:link,
.topbar a:visited,
.topbar a:active {
  color: var(--color-4);
  text-decoration: none;
}

a:link,
a:visited,
a:active {
  color: var(--color-4) !important;
  text-decoration: none;
  font-weight: bold;
}
a {
  color: var(--color-3);
  text-decoration: none;
}

.main {
  background: #306289;
  background: var(--color-6);
  margin-top: 40px;
  border: 5px solid rgba(48, 98, 137, 0.5);
  box-shadow: 0px 0px 2px #5e5b1c;
  border-radius: 10px;
}

.navbar {
  margin-bottom: 10px;
  border: 0;
  border-radius: 0;
  background: var(--color-5);
  text-transform: uppercase;
}

.navbar-brand {
  position: relative;
  margin-left: -40px;
  margin-top: -53px;
  margin-bottom: 50px;
  z-index: 100;
  filter: sepia(0.2%) hue-rotate(186deg) saturate(1) brightness(85%);
}

.breadcrumb {
  background: var(--color-2);
  font-size: 13px;
}

.select-control,
a.button,
button.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  background: var(--color-5) !important;
  color: var(--color-4);
  border: 1px solid var(--color-6);
  text-shadow: 0px 0px 0px white;
  font-weight: 400;
  font-size: 13px;
  padding: 3px 6px;
  margin: 2px 0;
  border-radius: 3px;
}

.floatleft {
  float: left;
  filter: sepia(5%) hue-rotate(150deg) saturate(0.8) brightness(85%);
}

.floatright {
  float: right;
  filter: sepia(5%) hue-rotate(150deg) saturate(0.8) brightness(85%);
}

.center {
  text-align: center;
  color: var(--color-4) !important;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #b9c2d8 !important;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: 400;
  line-height: 1;
  color: var(--color-3);
}

/*lion background*/
.lion-image-block img[data-layer="background"] {
  content: url(https://static.lioden.com/images/dynamic/backgrounds/Snowy_Simien_Mountains.png) !important;
}

p.center.b {
  background: var(--color-5);
}

.table {
  border: 2px solid var(--color-5);
}

tr {
  background-color: var(--color-5);
  color: var(--color-1);
}
th {
  background-color: var(--color-5) !important;
}
td.left.b {
  background-color: #7caecd !important;
  color: white;
}
.table .right_odd {
  background: rgba(48, 98, 137, 0.4) !important;
}

.table .bottom {
  text-align: center;
  background: rgba(48, 98, 137, 0.4) !important;
  color: #fff;
}

.table .top,
.table th {
  background-color: rgba(48, 98, 137, 0.4) !important;
  color: #fff;
  padding: 8px 15px;
  font-size: 15px;
  font-weight: bold;
}

.panel {
  margin-bottom: 20px;
  background-color: #5c799d !important;
  border: 1px solid rgba(48, 98, 137, 0.4) !important;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(48, 98, 137, 0.4) !important;
  box-shadow: 0 1px 1px rgba(48, 98, 137, 0.4) !important;
}

.panel-body.small {
  color: white !important;
}

.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #b9c2d8 !important;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress div {
  width: 100%;
  position: absolute;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
  font-size: 11px;
}

.progress-bar {
  background: #7caecd;
}

.s-chat-sidebar #label_currentChannel {
  background: rgba(48, 98, 137, 0.4) !important;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  min-width: 140px;
  padding: 4px 12px;
  color: white !important;
}

#btnChatSettings {
  background: url(//static.lioden.com/images/layout/chat/ico-settings.png)
    no-repeat;
  background-size: contain;
  border: 0;
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  top: 0;
  filter: brightness(0) invert(1);
}

#btnLoadNewMessages {
  background: url(//static.lioden.com/images/layout/chat/ico-refresh.png) 0 0 /
    contain no-repeat;
  border: 0;
  cursor: pointer;
  float: right;
  height: 24px;
  margin-top: 3px;
  width: 24px;
  filter: brightness(0) invert(1);
}

div#chatMessagePinned {
  background-color: #306289 !important;
  color: #7caecd !important;
}

.s-chat-message:nth-child(odd) {
  background: #5c7a9e;
  color: #7caecd !important;
}

.s-chat-message_claim {
  background: #306289;
  border-bottom: 1px solid #555;
  color: #e2bcad;
}

.s-chat-sidebar .s-chat-message_timestamp {
  right: auto;
  top: auto;
  bottom: 0;
  left: 0;
  padding-bottom: 2px;
  color: white !important;
}
.s-chat-message_menu {
  background: url(//static.lioden.com/images/layout/chat/ico-menu.png) no-repeat;
  background-position: bottom;
  background-size: contain;
  border: 0;
  bottom: 4px;
  cursor: pointer;
  display: block;
  height: 16px;
  position: absolute;
  right: 8px;
  width: 18px;
  filter: brightness(0) invert(1);
}

.s-chat-message:nth-child(even) {
  background: rgba(48, 98, 137, 0.4) !important;
  color: #7caecd;
}

body {
  font-family: "OpenSans", Helvetica, Tahoma, Arial, sans-serif;
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 14px;
  background-image: linear-gradient(
      rgb(226, 188, 173, 0.4),
      rgba(48, 98, 137, 0.4)
    ),
    url(https://cdn.pixabay.com/photo/2018/01/26/09/54/winter-3108234_1280.jpg);
}
