:root {
  --color-1: #1d0912;
  --color-2: #47455d;
  --color-3: #6a5870;
  --color-4: #9b6c7c;
  --color-5: #c6726f;
  --color-6: #e6b6b2;
  --color-7: white;
}

/*blocks*/
.container-block-main {
  position: relative;
  width: 100%;
  height: 800px;
}

.block-main {
  display: block;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--color-5);
  color: white;
  border: 2px solid var(--color-3);
}

.block1-info {
  position: absolute;
  left: 2%;
  top: 2%;
  bottom: 2%;
  width: 38%;
  height: 96%;
}

.block2-info {
  position: absolute;
  right: 2%;
  top: 2%;
  width: 56%;
  height: 48%;
}

.block3-info {
  position: absolute;
  right: 2%;
  top: 52%;
  bottom: 2%;
  width: 56%;
}
